* {
  margin: 0 auto; !important
  padding: 0 auto; !important
}

html, body {
  background-color: ivory;
  height: 100%;
}

p {
  font-size: 120%;
  padding-top: 5%;
}

a {
  text-decoration: none;
  color: #545775;
  font-size: 160%;
  font-family: "Joehand 2", cursive;
}


.container {
  min-height: 100%;
  overflow: hidden;
}

.row {
  /*margin: 0; !important
  padding: 0; !important*/
  /*position: absolute; !important*/
}

/*columns are all set to the same height*/
/*source of this trick found at https://www.credera.com/blog/technology-insights/full-height-column-layout-with-bootstrap/*/
#about, #bio, #github, #social {
  margin-bottom: -9999px;
  padding-bottom: 9999px;
}

#about {
  background-color: #DBCFB0;
}

#bio {
  background-color: #BFC8AD;
}

#github {
  background-color: #90B494;
}

#social {
  background-color: #718F94;
}

/*start the headers vertical*/
/*trick found at https://stackoverflow.com/questions/4264527/vertical-text-direction*/
/*modified for opposite direction and normal class is the average orientation of text on a page*/
h2 {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  white-space: nowrap;
  display: inline-block;
  position: center;
  bottom: 30;
  width: 20px;
  height: 20px;
  padding-top: 40%;
  font-size: 750%;
  color: ivory;
  font-family: "Joehand 2", cursive;
}

/*on click rotate horizontal*/
.normal {
  /*animation:  realign 0.8s;
  backface-visibility: hidden;*/
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-top: 10%;
}

/*@keyframes realign {
  100% {
    transform: rotate(0deg);
  }
}*/



/*=============MORE INFO AREAS============*/

/*start these hidden but on click of section have them display, if one is clicked change the class to show it, if another is clicked change all to hide but for the one clicked?*/
#about-text, #bio-text, #github-text, #social-text {
  display: none;
  padding: 5%;
  font-family: "Candara", sans-serif;
}

/*========END MORE INFO AREAS==========*/

/*=================MODALS==================*/
#linkedInModal, #resumeModal, #warModal, #gardenModal, #beerBookModal, #hungryModal, #quiltModal, #githubModal, #flickrModal, #instaModal, #etsyModal {
  background-color: rgba(0,0,0,0.4);
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 1;
  overflow: auto;
  display: none;
}

.close {
  color: ivory;
  font-size: 180%;
}

.modalframe {
  background-color: #DBCFB0;
  height: 80%;
  width: 90%;
  border-radius: 5px;
  margin: 20px auto;
  box-shadow: 0 3px 3px grey;
  padding: 2px;
}

iframe {
  height: 100%;
  width: 100%;
}

/*=================END MODALS=============*/

/*=================TYPEFACES=============*/

@font-face {
  font-family: "Joehand 2";
  src: url("./assets/JH2TRIAL.ttf");
}
